*{
    font-family: 'DM Sans',sans-serif !important;
    font-size: 102% !important;


}

:root {
    --color-dark: #232226;
    /* #232226 */
    --color-magent: #D22BC9;
    --color-amar: #B3D883;
    /* #D2CBC3 Altern*/
    --color-beige: #D2CBC3;
    --color-azul: #3515E7;
    --color-verde: #36DF63;
    --color-rojo: #fc2a4a;
    --color-rojoalt: #ec8580;
    --fa-pull-margin: 0 auto;
}

.col{

    /* background-color: var(--color-dark); */
}

.row{
/* 
    background-color: var(--color-dark); */
}

html{

    background-color: var(--color-dark);
    color: var(--color-dark);
}

.dmstyle{
    font-family: 'DM Sans',sans-serif !important;
}



.navbarZ{

    position: relative;
    background-color: var(--color-dark);
    


}

/* .section1{

    position: relative;


}

.parrafo1{

    position: absolute;
    z-index: 4;

} */

.iFrame2{
    position: relative;
    z-index: 0;
    padding-bottom: 56.25%;

    height: 0;

    overflow: hidden;

}
/* .iframe3{

    z-index: 0;
} */

.iFrame{
    position:absolute;
    z-index: 0;
    width: 100% ;
    height: 100%;

}




.navbarZ a {

    color: var(--color-rojoalt) ;
    text-decoration: none; 
    letter-spacing: 0.1em; 

}

.navbarZ a:hover{

    /* border: outset;
    border-color: var(--color-azul);
    border-width: 00.3ch; */
    color: var(--color-rojo);
    border-radius:50%;
    box-shadow: 0 0 20px var(--color-azul);

}

.navbarZ ul {

    list-style: none;

}

.navbarZ ul li{

    display: inline-block;
    position: relative;
    margin: 0;

}

.navbarZ ul ul{

    position: absolute;
    z-index: 1;
    display: none;
    border: outset;
    border-color: var(--color-beige);
    background-color: var(--color-dark);
    border-width: 0.1ch;
    padding: 0;

}

.navbarZul ul li {

    display: block;
    margin: 0px;
    position: relative;


}

.navbarZ ul li:hover ul {

    display: block;
    opacity: 100%;
    
   

}

#menuhamburguesa{

    /* visibility: hidden; */
    display: none;

}

#menu{

 margin: 0;

}

.menuCenter{

    margin-bottom: 0;
}

.listamenu{

    color: var(--color-verde);

}
.loginPerfil{

    color: var(--color-verde);
}

.logo2{

    margin: 10px auto;
    border-radius:50%;
    box-shadow: 0 0 20px var(--color-azul) !important;
    
    
}



#parrafo{

    user-select: none

}

/* Version Mobile */
@media (max-width: 613px) {

    #menuhamburguesa{

    display: inline-block;
    position: relative;


    } 



    #menu{

        display: none;
    }




    
}

@media (orientation:landscape){


}

@media (orientation: portrait){


}

