*{
    font-family: 'DM Sans',sans-serif !important;
    font-size: 102% ;
    margin: 0;
    padding: 0;

}

:root {
    --color-dark: #232226;
    /* #232226 */
    --color-magent: #D22BC9;
    --color-amar: #B3D883;
    /* #D2CBC3 Altern*/
    --color-beige: #D2CBC3;
    --color-azul: #3515E7;
    --color-verde: #36DF63;
    --color-rojo: #fc2a4a;
    --color-rojoalt: #ec8580;

}

.bg-dark {
    background-color: #232226 !important;
}

/* .dmstyle{

    font-family: 'DM Sans',sans-serif !important;

} */

.banner{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
    margin-bottom: 40px;
    z-index: -1;
    
}


.containerParallax{

    position: absolute;
    z-index: -1;
    left: -10%;
    width: 120%;
    height: 50%;

}
.containerParallax #scene .layer{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.containerParallax #scene .layer img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}




h1, h2 {

    font-size: 210%;
    letter-spacing: 0.2em; 

}

.iFrame2{

    position: relative;
    padding-bottom: 56.25%;

    height: 0;

    overflow: hidden;

}

a{

    text-decoration: none;

}



.arteZ{

    margin: 15px 0;
    padding-left:20px !important;
    padding-right: 0 !important;

}





.tiendaText{

    padding: 40px;
    text-align: center;


}

.animacionText{

    padding: 20px;
    text-align: center;
    font-size:2vw
}

.tiendaText h1{
    padding-left: 5px;
    font-size:5vw

}

.tiendaZ{

    margin: 50px 30px;
}


.instSize{
    font-size: 40px;
}
.bioZ{

    text-align:center;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}



.iFrame{

    position: absolute;
    width: 100% ;
    height: 100%;


}

.iframesText{

    font-size:1.8vw
}




#menuhamburguesa{


    display: none;

}


.menuCenter{

    margin-bottom: 0;
    
}

.listamenu{

    color: var(--color-verde);

}



li {
    list-style-type: none
}

.instDirection{

    text-align: right;
}


#parrafo{

    user-select: none

}

/* Version Mobile */
@media (max-width: 613px) {

    #menuhamburguesa{

    display: inline-block;
    position: relative;


    } 



    #menu{

        display: none;
    }




    
}
@media (max-width: 700px){
    .banner{

        margin: -8em 0;
        
    }
    
    .containerParallax #scene .layer img{
    

        object-fit:contain;
    }

}

@media (max-width: 550px){
    .banner{

        margin: -11em 0;
        
    }
    
    .containerParallax #scene .layer img{
    

        object-fit:contain;
    }
    .iframesText{

        font-size:3vw
    }
    .animacionText{
        font-size:3vw
    }

}




