.flex-S {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mixing1:hover {
  box-shadow: -20px 0 20px red;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: -20px 0 60px purple;
    transform: scale(1.05);
  }
}

.mixing2:hover {
  box-shadow: -20px 0 20px #3bff6f;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: -20px 0 60px purple;
    transform: scale(1.05);
  }
}

.mixing3:hover {
  box-shadow: 20px 0 20px cyan;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: 20px 0 60px purple;
    transform: scale(1.05);
  }
}

.mixing4:hover {
  box-shadow: 20px 0 20px #6b1bd4;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: 20px 0 60px purple;
    transform: scale(1.05);
  }
}

.mixing5:hover {
  box-shadow: -20px 0 20px #fc0859;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: -20px 0 60px purple;
    transform: scale(1.05);
  }
}

.mixing6:hover {
  box-shadow: 20px 0 20px #59c2ff;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: 20px 0 60px purple;
    transform: scale(1.05);
  }
}

.mixing7 {
  transition: 3.14s;
  margin: 10px auto;
  border-radius: 50%;
}
.mixing7:hover {
  box-shadow: 0 0 50px #3bff6f;
  animation: animate 2.5s ease-in-out infinite;
}
@keyframes animate {
  50% {
    box-shadow: 0 0 60px purple;
    transform: scale(1.05);
  }
}

footer ul {
  padding: 0;
}
footer a {
  transition: 0.314s;
  color: #6b1bd4;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin-right: 6px;
}
footer a:hover {
  color: #B3D883;
  text-shadow: 0 0 10px #fc0859, 0 0 20px #fc0859, 0 0 40px #fc0859, 0 0 80px #fc0859, 0 0 120px #fc0859, 0 0 160px #fc0859;
}

#register a {
  transition: 0.314s;
  color: #6b1bd4;
  text-decoration: none;
  letter-spacing: 0.1em;
}
#register a:hover {
  color: #B3D883;
  text-shadow: 0 0 10px #fc0859, 0 0 20px #fc0859, 0 0 40px #fc0859, 0 0 80px #fc0859, 0 0 120px #fc0859, 0 0 160px #fc0859;
}

.buttonZ {
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px black, 15px 15px 15px black, 20px 20px 15px black, 30px 30 px 15px black, inset 1px 1px 2px #fff;
}

.navbarZ {
  position: relative;
}
.navbarZ ul {
  list-style: none;
}
.navbarZ ul li {
  display: inline-block;
  position: relative;
  margin: 0;
}
.navbarZ ul li:hover ul {
  display: block;
  opacity: 100%;
}
.navbarZ ul li ul {
  position: absolute;
  z-index: 1;
  display: none;
  border: outset;
  border-color: #D2CBC3;
  background-color: #232226;
  border-width: 0.1ch;
  padding: 0;
}

#menuAnimation a {
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(33, 214, 190, 0.7);
}
#menuAnimation a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 4px solid var(--clr);
  -webkit-text-stroke: 1.5px var(--clr);
}
#menuAnimation a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

.arteZ a {
  transition: 0.314s;
  color: #2578f5;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.arteZ a:hover {
  color: #fc0859;
  text-shadow: 0 0 10px #59c2ff, 0 0 20px #59c2ff, 0 0 40px #59c2ff, 0 0 80px #59c2ff, 0 0 120px #59c2ff, 0 0 160px #59c2ff;
}

.contactoZ {
  text-align: center;
  padding: 30px 0;
}
.contactoZ form {
  text-align: left;
}

.btnContacto {
  text-align: center !important;
}

.tiendaZ .textJoyas {
  font-size: 0.9rem !important;
}
.tiendaZ .textJoyas a {
  transition: 0.314s;
  color: #fc0859;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.tiendaZ .textJoyas a:hover {
  color: #2578f5;
  text-shadow: 0 0 10px #59c2ff, 0 0 20px #59c2ff, 0 0 40px #59c2ff, 0 0 80px #59c2ff, 0 0 120px #59c2ff, 0 0 160px #59c2ff;
}
.tiendaZ .textosCarru {
  font-size: 0.9rem !important;
}
.tiendaZ .textCuadros a {
  transition: 0.314s;
  color: #B3D883;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.tiendaZ .textCuadros a:hover {
  color: #3bff6f;
  text-shadow: 0 0 10px #59c2ff, 0 0 20px #59c2ff, 0 0 40px #59c2ff, 0 0 80px #59c2ff, 0 0 120px #59c2ff, 0 0 160px #59c2ff;
}

/*# sourceMappingURL=style2.css.map */
