*{
    font-family: 'DM Sans',sans-serif !important;
    font-size: 102% ;
    margin: 0;
    padding: 0;

}

:root {
    --color-dark: #232226;
    /* #232226 */
    --color-magent: #D22BC9;
    --color-amar: #B3D883;
    /* #D2CBC3 Altern*/
    --color-beige: #D2CBC3;
    --color-azul: #3515E7;
    --color-verde: #36DF63;
    --color-rojo: #fc2a4a;
    --color-rojoalt: #ec8580;

}


.dmstyle{

    font-family: 'DM Sans',sans-serif !important;

}


h1, h2 {

    font-size: 260%;
    letter-spacing: 0.3em; 

}

.iFrame2{

    position: relative;
    padding-bottom: 56.25%;

    height: 0;

    overflow: hidden;

}

a{

    text-decoration: none;

}



.arteZ{

    margin: 15px 0;
    padding-left:15px;
    padding-right: 0 !important;

}

.carrusel{

    padding: 0;

}

.artePadding{
    padding: 0;
}
.arteZ{

    padding-left:15px !important;


}

.tiendaText{

    padding: 30px;
    text-align: center;


}

.animacionText{

    padding: 20px;
    text-align: center;
    font-size:3vw
}

.tiendaText h1{
    padding-left: 5px;
    font-size:5vw

}

.tiendaZ{

    margin: 50px 30px;
}

.contactoZ{

    text-align: center;

    padding: 30px 0;
}

.contactoZ1 div{

    padding: 0px;
}


.formularioZ{

    padding: 0;
}

.instSize{
    font-size: 40px;
}
.bioZ{

    text-align:left;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


.iFrame{

    position: absolute;
    width: 100% ;
    height: 100%;


}


.sliderZ{

    width: auto ;
    height: auto;

}



#menuhamburguesa{


    display: none;

}

#menu{

 margin: 0;

}

.menuCenter{

    margin-bottom: 0;
}

.listamenu{

    color: var(--color-verde);

}
.loginPerfil{

    color: var(--color-verde);
}

.logo2{

    margin: 10px auto;
    border-radius:50%;
    box-shadow: 0 0 20px var(--color-azul) !important;
    
    
}

li {
    list-style-type: none
}



#parrafo{

    user-select: none

}

/* Version Mobile */
@media (max-width: 613px) {

    #menuhamburguesa{

    display: inline-block;
    position: relative;


    } 



    #menu{

        display: none;
    }




    
}


