@import "../base/variables";


.navbarZ{

    position: relative;

    ul{

        list-style: none;

        li{

            display: inline-block;
            position: relative;
            margin: 0;

            &:hover{
                ul{

                    display: block;
                    opacity: 100%;
                    
                }
            }

            ul{

                position: absolute;
                z-index: 1;
                display: none;
                border: outset;
                border-color: $color-beige;
                background-color: $color-dark;
                border-width: 0.1ch;
                padding: 0;

                li{
                    a{

                        color: $color-rojoalt ;
                        text-decoration: none; 
                        letter-spacing: 0.1em;
                        &:hover{
                            color: $color-rojo;
                            border-radius:50%;
                            box-shadow: 0 0 20px $color-azul;
                        }

                    }
                }
            }
        }
    }
}
