@import "../base/variables";
@import "../base/extends";
@import "../base/mixin";

footer{
    ul{
        padding: 0;
    }
    a{
    transition: .314s;
    color: $color-rojoalt ;
    text-decoration: none; 
    letter-spacing: 0.1em;
    margin-right: 6px;
    &:hover{
        color: $color-amar;
        text-shadow: 0 0 10px $color-rojo,
        0 0 20px $color-rojo,
        0 0 40px $color-rojo,
        0 0 80px $color-rojo,
        0 0 120px $color-rojo,
        0 0 160px $color-rojo;

            }

        }
} 
#register a{
    transition: .314s;
    color: $color-rojoalt ;
    text-decoration: none; 
    letter-spacing: 0.1em;
    &:hover{
        color: $color-amar;
        text-shadow: 0 0 10px $color-rojo,
        0 0 20px $color-rojo,
        0 0 40px $color-rojo,
        0 0 80px $color-rojo,
        0 0 120px $color-rojo,
        0 0 160px $color-rojo;

            }
} 

.buttonZ{

    border: none;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0 , 1),
    15px 15px 15px rgba(0, 0, 0 , 1),
    20px 20px 15px rgba(0, 0, 0 , 1),
    30px 30 px 15px rgba(0, 0, 0 , 1),
    inset 1px  1px 2px #fff;
}


.navbarZ{

    position: relative;

    ul{

        list-style: none;

        li{

            display: inline-block;
            position: relative;
            margin: 0;

            &:hover{
                ul{

                    display: block;
                    opacity: 100%;
                    
                }
            }
            
            ul{

                position: absolute;
                z-index: 1;
                display: none;
               border: outset;
                border-color: $color-beige;
                background-color: $color-dark;
                border-width: 0.1ch;
                padding: 0;


            }
        }
    }
    
}

#menuAnimation a{
    
    text-decoration: none; 
    font-size: 1.1em;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: .5px rgba(33, 214, 190, 0.7);
    &::before{
        content: attr(data-text);
        position: absolute;
        color: var(--clr);
        width: 0;
        overflow: hidden;
        transition: 1s;
        border-right: 4px solid var(--clr);
        -webkit-text-stroke: 1.5px var(--clr);
    }
    &:hover::before{

        width: 100%;
        filter: drop-shadow(0 0 25px var(--clr));


        
            }
}


.arteZ{
    a{
    transition: 0.314s;
    color: $color-azul ;
    text-decoration: none; 
    letter-spacing: 0.1em;
    &:hover{
        color: $color-rojo;
        text-shadow: 0 0 10px $color-cyan,
        0 0 20px $color-cyan,
        0 0 40px $color-cyan,
        0 0 80px $color-cyan,
        0 0 120px $color-cyan,
        0 0 160px $color-cyan;

            }
}

}

.contactoZ{

    text-align: center;

    padding: 30px 0;

    form{
        text-align: left;

    }


}


.tiendaZ{
    .textJoyas{
        font-size: .9rem !important;
        a{
            transition: 0.314s;
            color: $color-rojo ;
            text-decoration: none; 
            letter-spacing: 0.1em;
            &:hover{
                color: $color-azul;
                text-shadow: 0 0 10px $color-cyan,
                0 0 20px $color-cyan,
                0 0 40px $color-cyan,
                0 0 80px $color-cyan,
                0 0 120px $color-cyan,
                0 0 160px $color-cyan;
        
                    }
    }
}
    .textosCarru{
        font-size: .9rem !important;
    }
    .textCuadros a{
        transition: 0.314s;
        color: $color-amar ;
        text-decoration: none; 
        letter-spacing: 0.1em;
        &:hover{
            color: $color-verde;
            text-shadow: 0 0 10px $color-cyan,
            0 0 20px $color-cyan,
            0 0 40px $color-cyan,
            0 0 80px $color-cyan,
            0 0 120px $color-cyan,
            0 0 160px $color-cyan;
    
                }

    }
    
}